.authContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #25262B;
    border-radius: 15px;
    color: white;
    height: 550px;
}

.authContainer input {
    background: transparent !important;
    color: white !important;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(115, 115, 115);
    width: 350px;
}

.authContainer button {
    width: 350px;
}

.eyeLogo {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.loginLink:hover {
    color: #858585 !important;
}

/* Sign Up css */