nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

nav img {
    height: 40px;
    width: auto;
    /* position: absolute; */
}

/* .navbar-brand::before {
    content: '';
    background: url("../iNoteBook Logo & Name.jpg") no-repeat top / contain;
    height: 80px;
    width: 150px;
    position: absolute;
    margin-top: -20px;
} */

nav>div {
    font-size: 20px;
}

.addNote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addNote input {
    background: transparent !important;
    color: white !important;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(115, 115, 115);
    width: 350px;
}

/* Log Out page CSS (lo) */

.lo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lo-headings {
    font-size: 56px;
    font-weight: 700;
}

.lo-heroSection {
    width: 50%;
    text-align: center;
}

.lo-heroSection p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    margin: 20px 0;
}

.lo-heroSection button {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
}

.img-container {
    height: 300px;
    width: 300px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.lo-imgParent {
    width: 950px;
    margin: 50px 0;
}

#lo-animatingText {
    display: inline-block;
    color: #00ae00;
}

.lo-end {
    width: 70%;
}

.lo-end-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    margin: 20px 0;
    border-left: 4px solid #3a3c3e;
}

.lo-end-text p {
    color: #3a3c3e;
    font-weight: 700;
    font-style: italic;
}

.lo-animatingCounter {
    display: inline-block;
    color: #00ae00;
}

.lo-downloadsContent {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    margin: 20px 0;
}

.lo-downloads button :hover {
    color: #1D1E22;
    transition: ease-in-out;
}

footer ul li {
    padding: 0 30px;
    list-style: none;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li :hover {
    color: #3a3c3e;
}

.addNote ::placeholder {
    color: white !important;
    opacity: 0.5 !important;
}

.addNote input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #25262B inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}