@media (min-width: 992px) {
    .card {
        min-width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        min-width: 200px;
    }
}

.card:hover {
    box-shadow: 0 0 7px white;
}

.fa-trash-can,
.fa-pen-to-square {
    border: 2px solid transparent;
    padding: 3px;
    border-radius: 50%;
}

.fa-trash-can:hover {
   background-color: rgb(248, 52, 52);
}

.fa-pen-to-square:hover {
    background-color: rgb(56, 199, 56);
}

.modal {
    backdrop-filter: blur(3px);
}

.modal-content {
    background: #25262B;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-header button {
    filter: invert(1);
}

.modal input {
    background: transparent !important;
    color: white !important;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(115, 115, 115);
    width: 350px;
}

/* .modald::placeholder {
    color: white !important;
    opacity: 0.5 !important;
} */

/* .modal input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #25262B inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
} */