* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D1E22;
    color: white;
}

.note-body {
    background-color: #25262B;
}

/* To fix the autofill color of input field */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #25262B inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
} */